.dateTime-pop{
    --width:unset;
}

.br-top {
    border-top: 1px solid;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.top-mr{
    margin-top: 15px;
}
.lb{
    padding-bottom: 5px;
}
.no-sp {
  --padding-start: 0;
}
ion-item.pst-itm {
    position: relative;
    z-index: 0;
}

.imgs-pfr {
    padding: 10px 0;
    .imgss {
        display: flex;
        padding: 5px 5px 5px 0px;
    }
}

.upload-area-item {
    padding: 10px 0;
    width: 100%;
    .up-area {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: var(--ion-color-primary);
        }
        img {
            height: 100px;
        }
    }
    input.hideinpt {
        display: none;
    }
}

.quill-wrapper-div {
    margin: 15px 0;
}

ion-avatar.active {
    border: 2px solid var(--ion-color-primary);
    margin-right: 5px;
}
.remove-attachment {
    margin-left: 5px;
    font-size: 10px;
    background: grey;
    border-radius: 50%;
    padding: 2px 5px;
    color: #fff;
}