<ion-header [class.not-scrolled]="!fixHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="openWebsite(true)">
        <ion-icon name="search-circle-outline"></ion-icon>
      </ion-button>
      <ion-button icon-only (click)="gotoFeed()">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-button>
      <ion-button icon-only (click)="exitApp()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" (ionScroll)="logScrolling($event)" [class.scrolled]="fixHeader"> 
  <div class="profile-dashboard">
    
    <ion-card class="profile-cards">
      <ion-card-header>
        <ion-card-title>Your Profiles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ng-container *ngIf="loadingProfile">
            <div class="ion-text-center">
              <ion-spinner></ion-spinner>
            </div>
          </ng-container>
          <ng-container *ngIf="!loadingProfile">
            <ion-item *ngFor="let profile of prifleItems" [routerLink]="['/member/posts', profile?.id]">
              <ion-avatar slot="start">
                <img src="{{getMediaUrl(profile?.logo?.local_path )}}" />
              </ion-avatar>
              <ion-label>
                <h3>{{profile?.title}}</h3>
                <p>
                  <b>{{profile?.subscriptions_sum}} SUBS</b> 
                  &nbsp;<b>{{profile?.currency}} {{profile?.trx_total_qty}}/m</b>
                  <br><b>TOTAL {{profile?.currency}} {{profile?.trx_total_sum}}</b>
                </p>
              </ion-label>
              <ion-icon slot="end" name="bar-chart" (click)="openWebsite()"></ion-icon>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="!loadingProfile">
            <ion-item lines="none" (click)="openWebsite()">
              <ion-label class="ion-text-center">
                <ion-icon name="add-circle"></ion-icon>
                Add a Profile
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card class="profile-cards subscriptions">
      <ion-card-header>
        <ion-card-title>Your Subscriptions</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ng-container *ngIf="loadingSubscriptions">
            <div class="ion-text-center">
              <ion-spinner></ion-spinner>
            </div>
          </ng-container>
          <ng-container *ngIf="!loadingSubscriptions">
            <ion-item *ngFor="let support of supportors" (click)="openWebsite()">
              <ion-avatar slot="start">
                <img src="{{getMediaUrl(support?.logo?.local_path )}}" />
              </ion-avatar>
              <ion-label>
                <h3>{{support?.title}}</h3>
                <p></p>
              </ion-label>
              <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="!loadingSubscriptions && !supportors.length">
            <ion-item lines="none">
              <ion-label class="ion-text-center">
                No Subscription
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card class="account-cards">
      <ion-card-header>
        <ion-card-title>Account</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form class="form" [formGroup]="accountForm">
          <ion-list lines="none">
            <ion-item [ngClass]="{'has-error': accFrm.first_name.invalid && accFrm.first_name.dirty}">
              <ion-label>First Name*</ion-label>
              <ion-input formControlName="first_name" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.last_name.invalid && accFrm.last_name.dirty}">
              <ion-label>Last Name*</ion-label>
              <ion-input formControlName="last_name" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.email.invalid && accFrm.email.dirty}">
              <ion-label>Email*</ion-label>
              <ion-input formControlName="email" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.password.invalid && accFrm.password.dirty}">
              <ion-label>Password</ion-label>
              <ion-input formControlName="password" type="text" ></ion-input>
            </ion-item>
            
            <ion-item [ngClass]="{'has-error': accFrm.address_1.invalid && accFrm.address_1.dirty}">
              <ion-label>Address1</ion-label>
              <ion-input formControlName="address_1" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.address_2.invalid && accFrm.address_2.dirty}">
              <ion-label>Address2</ion-label>
              <ion-input formControlName="address_2" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.alias.invalid && accFrm.alias.dirty}">
              <ion-label>Author</ion-label>
              <ion-input formControlName="alias" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.phone_number.invalid && accFrm.phone_number.dirty}">
              <ion-label>Phone Number</ion-label>
              <ion-input formControlName="phone_number" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.country.invalid && accFrm.country.dirty}">
              <ion-label>Country</ion-label>
              <ion-select formControlName="country">
                <ion-select-option *ngFor="let cntry of [1,2,3,4]" value="{{cntry}}">{{cntry}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.zip_code.invalid && accFrm.zip_code.dirty}">
              <ion-label>Zipcode</ion-label>
              <ion-input formControlName="zip_code" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.city.invalid && accFrm.city.dirty}">
              <ion-label>City</ion-label>
              <ion-input formControlName="city" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.bank_account.invalid && accFrm.bank_account.dirty}">
              <ion-label>Bank Account</ion-label>
              <ion-input formControlName="bank_account" type="text" ></ion-input>
            </ion-item>
          </ion-list>
          <ion-item lines="none" class="no-border">
            <ion-label>I represnt a company</ion-label>
            <ion-checkbox slot="start" formControlName="is_company" (change)="updateCompanyFields()"></ion-checkbox>
          </ion-item>
          <ion-list lines="none" class="company-list" *ngIf="accFrm.is_company.value">
            <ion-item [ngClass]="{'has-error': accFrm.company_name.invalid && accFrm.company_name.dirty}">
              <ion-label>Company Name*</ion-label>
              <ion-input formControlName="company_name" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.company_reg_no.invalid && accFrm.company_reg_no.dirty}">
              <ion-label>Company Reg No*</ion-label>
              <ion-input formControlName="company_reg_no" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.company_phone.invalid && accFrm.company_phone.dirty}">
              <ion-label>Company Phone Number*</ion-label>
              <ion-input formControlName="company_phone" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.company_zip_code.invalid && accFrm.company_zip_code.dirty}">
              <ion-label>Company Zip Code*</ion-label>
              <ion-input formControlName="company_zip_code" type="text" ></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'has-error': accFrm.company_country.invalid && accFrm.company_country.dirty}">
              <ion-label>Country*</ion-label>
              <ion-select formControlName="company_country">
                <ion-select-option *ngFor="let cntry of [1,2,3,4]" value="{{cntry}}">{{cntry}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </form>
        <div class="ion-text-center">
          <ion-button (click)="submit()">Submit</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>