<ion-item *ngIf="post" [style.color]="post.customization?.font_color" 
  [style.background]="post.customization?.bg_color">
  <ion-avatar slot="start">
    <img src="{{getMediaUrl(post.poster?.logo?.local_path )}}" />
  </ion-avatar>
  <ion-label>
    <h3>{{post.title}}</h3>
    <p>{{post?.publish_date | date : 'dd-MM-YYYY hh:mm'}} </p>
  </ion-label>
  <ion-icon slot="end" name="eye" (click)="post.isOpen = !post.isOpen"></ion-icon>
  <!-- <ion-icon slot="end" name="pencil" (click)="openEdit(post)"></ion-icon> -->
</ion-item>
<div class="post-content" *ngIf="!post.isOpen" 
  [style.color]="post.customization?.font_color" 
  [style.background]="post.customization?.bg_color"
>
  <div class="content" [innerHTML]="post.content"></div>
  <div class="media" *ngIf="post.media">
    <ng-container *ngFor="let mdi of post.media">
      <app-media-disp [media]="mdi"></app-media-disp>
    </ng-container>
  </div>
  <div class="attachment" *ngIf="post.file">
    <b>Download attachment:</b>
    <!-- *ngFor="let atch of post.file" -->
    <p>
      <a href="{{getMediaUrl(post.file.local_path,2)}}" download="{{post.file.filename}}">
        <app-media-disp [media]="post.file" [isFile]="true"></app-media-disp>
      </a>
    </p>
  </div>
</div>