<ion-header [class.not-scrolled]="!fixHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/member/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="openWebsite(true)">
        <ion-icon name="search-circle-outline"></ion-icon>
      </ion-button>
      <ion-button icon-only (click)="gotoPost()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
      <ion-button icon-only (click)="exitApp()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" (ionScroll)="logScrolling($event)" [class.scrolled]="fixHeader"> 
  <div class="profile-dashboard">
    
    <ion-card class="profile-cards">
      <ion-card-header>
        <ion-card-title>Posts</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div  class="ion-text-center" *ngIf="loading">
          <ion-spinner></ion-spinner>
        </div>
        <div  class="ion-text-center" *ngIf="!loading && !posts.length">
          <ion-item lines="none" (click)="gotoPost()">
            <ion-label class="ion-text-center">
              <ion-icon name="add-circle"></ion-icon>
              Add a post
            </ion-label>
          </ion-item>
        </div>
        <ng-container *ngFor="let post of posts">
          <ion-item [style.color]="post.customization?.font_color" 
          [style.background]="post.customization?.bg_color">
            <ion-avatar slot="start">
              <img src="{{getMediaUrl(profile?.logo?.local_path )}}" />
            </ion-avatar>
            <ion-label>
              <h3>{{post.title}}</h3>
              <p>{{post?.publish_date | date : 'dd-MM-YYYY hh:mm'}} </p>
            </ion-label>
            <ion-icon slot="end" name="eye" (click)="post.isOpen = !post.isOpen"></ion-icon>
            <ion-icon slot="end" name="pencil" (click)="openEdit(post)"></ion-icon>
          </ion-item>
          <div class="post-content" *ngIf="post.isOpen" 
            [style.color]="post.customization?.font_color" 
            [style.background]="post.customization?.bg_color"
          >
            <div class="content" [innerHTML]="post.content"></div>
            <div class="media" *ngIf="post.media">
              <ng-container *ngFor="let mdi of post.media">
                <app-media-disp [media]="mdi"></app-media-disp>
              </ng-container>
            </div>
            <div class="attachment" *ngIf="post.file">
              <b>Download attachment:</b>
              <!-- *ngFor="let atch of post.file" -->
              <p>
                <!--  href="{{getMediaUrl(post.file.local_path,2)}}" download="{{post.file.filename}}" -->
                <a>
                  <app-media-disp [media]="post.file" [isFile]="true"></app-media-disp>
                </a>
              </p>
            </div>
          </div>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>